[core]
    editor = vim
[user]
    name = tasuku-lab280
    email = 56028684+tasuku-lab280@users.noreply.github.com
[alias]
    ad = add
    co = commit
    br = branch
    sw = switch
    st = status
    pl = pull
    ps = push
    rbi = rebase -i
